
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
}

#players {
	list-style-type: none;
}
.player {
	background: green;
}
.player.selected {
	background: blue;
}

#cards {
	list-style-type: none;
}
.card {
	background: green;
}
.card.selected {
	background: blue;
}
/* #messages li { padding: 5px 10px; } */
/* #messages li:nth-child(odd) { background: #eee; } */
